A:visited {
	COLOR: #585858; LINE-HEIGHT: 25px; TEXT-DECORATION: none
}
A:link {
	COLOR: #585858; LINE-HEIGHT: 25px; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
BODY {
	SCROLLBAR-FACE-COLOR: #e0e0e0; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #e0e0e0; SCROLLBAR-SHADOW-COLOR: #e0e0e0; COLOR: #484848; SCROLLBAR-3DLIGHT-COLOR: #aaaaaa; SCROLLBAR-TRACK-COLOR: #777777; FONT-FAMILY: arial, helvetica; SCROLLBAR-DARKSHADOW-COLOR: #aaaaaa
}
TD {
	SCROLLBAR-FACE-COLOR: #e0e0e0; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #e0e0e0; SCROLLBAR-SHADOW-COLOR: #e0e0e0; COLOR: #484848; SCROLLBAR-3DLIGHT-COLOR: #aaaaaa; SCROLLBAR-TRACK-COLOR: #777777; FONT-FAMILY: arial, helvetica; SCROLLBAR-DARKSHADOW-COLOR: #aaaaaa
}
.alink {
	COLOR: #585858; LINE-HEIGHT: 25px
}
.text {
	LINE-HEIGHT: 22px
}
INPUT {
	BORDER-RIGHT: #c6c3c6 1px solid; BORDER-TOP: #c6c3c6 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #c6c3c6 1px solid; BORDER-BOTTOM: #c6c3c6 1px solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.CINPUT {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/submit.gif)
}
.DINPUT {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/downloadsubmit.gif)
}
.SINPUT {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/search.gif)
}
.xcursor {
	CURSOR: hand
}
